<!-- <head>
  <title>VCE Academy</title>
</head> -->

<!-- <body>
  {{> ApplicationLayout}}
</body>

<template name="ApplicationLayout">
  {{> navbar}}
  <div class="container top-margin">
    {{> yield}}
  </div>
</template> -->



<!-- NOTE This is the starter code from meteor, looks quite different
<head>
  <title>simple</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> hello}}
  {{> info}}
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="info">
  <h2>Learn Meteor!</h2>
  <ul>
    <li><a href="https://www.meteor.com/try">Do the Tutorial</a></li>
    <li><a href="http://guide.meteor.com">Follow the Guide</a></li>
    <li><a href="https://docs.meteor.com">Read the Docs</a></li>
    <li><a href="https://forums.meteor.com">Discussions</a></li>
  </ul>
</template> -->
