.container-fluid {
  height: 100%;
}
html, body {
  height: 100%;
}
.cat-well {
    margin-top: 10px;
}
.cat-group {
    width: 100%;
    margin: auto;
}
.submit-btn {
    float: right;
    margin-right: 10px;
    background-color: rgb(153, 153, 255);
}
.incor-ans {
    background-color: rgb(200, 0, 0);
}
.cor-ans {
    background-color: rgb(0, 200, 0);
}
.image-row {
    display: block;
    padding: 50;
    margin: auto;
    width: 100%;
    max-width: 400px;
    height: auto;
}
.site-text {
    text-align: center;
    margin: 10px;
    padding: 20px;
}
.js-btn {
    margin: 5px;
}
.button-row {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.soln-text{
    margin: 10px;
}
.question-img{
    zoom: 1.5;
    width: 100%;
    min-width: 200px;
}
.fb-page{
  margin: 10px;
    /*margin: 0 auto;
    float: none;*/
}
.feedback_btn{
  width: 100%;
  height: 100%;
  min-height: 50px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.active-fb-btn{
  -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
  filter: grayscale(0%);
}
#other_comments{
  width: 100%;
  margin: auto;
}
.navbar-img{
  height: 35px;
  width: auto;
  margin-right: 5px;
}
.outlined-content{
  outline: 1px solid #000066;
  margin: 10px;
  padding: 10px;
}
.site-heading{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.inner-btn{
  margin: 5px;
}
.front-page{
  padding: 100px;
}
.home-img{
  height: 50%;
  max-height: 300px;
}
.jumbotron {
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background-image: url('/OtherImages/logo_transparent.png');
  background-repeat: no-repeat;
  background-color: #000066;
  background-position: right;;
  background-size: contain;
}
#next_ques{
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
#skip_ques{
    margin-top: 20px;
}
textarea {
  resize: none;
}
