<template name="about">
    <div class="row">
        <div class="col-md-12">
            <h1 class="bg-primary site-heading">About This Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="outlined-content">
                <h4 class="site-text">
            Hello and welcome to the Practice VCE Online website! Practice VCE Online
            is a website dedicated to providing Year 12 VCE students with practice
            questions in preparation for end-of-year exams.<br /><br />
            We are right now in alpha testing, which means we need your help to develop exactly what
            you want in an online question practice platform! <br /><br />
            If you have any comments,
            ideas or feedback please leave feedback when you answer a question or
            visit our Facebook page.
            <br />Thank you
            for trying something new out - good luck with your exams!
        </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p class="site-text">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/>
                </a>
                <br />
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            </p>
        </div>
    </div>
</template>
