<template name="find_question">
  <div class="row">
    {{#with currQuestion}}
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="sel1">Database:</label>
            <select class="form-control" id="sel1">
              {{#each availableSubject}}
              <option>
                {{name}}
              </option>
              {{/each}}
            </select>
          </div>
          <input id="qn_id" type="number">
          <button id="find_qn_btn" class="btn btn-primary">Go</button>
        </div>
      </div>
      <div class="well">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="row">
              <h4 class="soln-text">
              {{{questionText}}}
            </h4>
            </div>
            <br />
            <div class="row image-row">
              <div col-md-12 col-sm-12 col-xs-12>
                {{{renderImage}}}
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12 col-sm-12">
            <form id="options">
              {{#each getAnswers}}
                <div class="ans-div" id="div-{{@index}}">
                  <h4><label>
                    <input type="radio" name="optradio" value="{{text}}" id="{{@index}}">  {{{text}}}
                  </label></h4>
                </div>
              {{/each}}
            </form>
          </div>
        </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <p>Topic: {{topic}}</p>
              <p>ID: {{id}}</p>
              <p>DB Rev: {{dbRev}}</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p>Feedback Results</p>
              {{#with currFeedback}}
              <p>Too easy: {{too_easy}}</p>
              <p>Just right: {{just_right}}</p>
              <p>Too hard: {{too_hard}}</p>
              {{/with}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <button class="btn btn-block btn-primary" id="submit_ans"><h3>Submit</h3></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/with}}
    {{#with rawQuestion}}
    <div col-md-6 col-sm-6 col-xs-6>
      <div class="input-group">
        <h5>Question</h5>
        <input id="qnInput" type="text" class="form-control" placeholder="Text" value={{questionText}}>
        <h5>Solution</h5>
        <input id="solInput" type="text" class="form-control" placeholder="Text2" value={{solutionText}}>
        <h5>Correct Answer</h5>
        <input id="corAns" type="text" class="form-control" placeholder="Text3" value={{answer}}>
        <h5>Other Answers</h5>
        {{#each rawAnswers}}
          <input id="othAns1" type="text" class="form-control" placeholder="Text4" value={{text}}>
        {{/each}}
        <button class="btn btn-block btn-primary" id="renderBtn"><h3>Render</h3></button>
        <button class="btn btn-block btn-primary" id="upsertBtn"><h3>Upsert</h3></button>
      </div>
    </div>
    {{/with}}
  </div>

</template>
