<template name="home_page">
    <div class="jumbotron">
        <h1>Practice VCE</h1>
        <p class="lead">Quiz yourself. Practice. Succeed. Totally Free.</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <a role="button" class="btn btn-primary btn-lg btn-block inner-btn" href="/subjects">
                <h3>Let's Start!</h3>
            </a>
            <a role="button" class="btn btn-primary btn-lg btn-block inner-btn" href="/about">
                <h3>About</h3>
            </a>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="fb-page" data-href="https://www.facebook.com/practicevceonline/" data-tabs="timeline" data-width="500" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/practicevceonline/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/practicevceonline/">Practice VCE</a>
                </blockquote>
            </div>
        </div>
    </div>


</template>
