<template name="navbar">
<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-left"><img class="navbar-img" src="/OtherImages/logo_transparent.png" alt="logo-img"/></a>
          <!-- <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="/">Practice VCE</a>
          </div> -->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">

            <!-- drop down list -->
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subjects<span class="caret"></span></a>

            <ul class="dropdown-menu">

              {{#each subjectList}}
                {{#if available}}
                  <li><a href="{{pathForSubject}}" class="dropdown-btn">{{name}}</a></li>
                {{else}}
                  <li class="disabled"><a href="#">{{name}}</a></li>
                {{/if}}
              {{/each}}

            </ul>
          </li>
            <!-- end drop down list -->
          </ul>
        </div>
        <!-- <div class="nav navbar-right">
        <div class="navbar-text">
            {{> loginButtons align="right"}}
            Login

        </div>
        </div> -->
      </div> <!-- / nav container -->
  </nav>
</template>
