<template name="new_question">
  {{#if access}}
    <div class="row">
        <div class="col-md-12">
            <input type="number" id="qnId" placeholder="ID" min="0" value="0" />
            <button id="find_qn_btn" class="btn btn-primary">Go</button>
            <button id="new_qn_btn" class="btn btn-success">New Question</button>
        </div>
    </div>
    <div class="row">
          {{#with currQuestion}}
          <form>
            <div class="row">
              <div class="col-md-12">
                <h4>ID: {{qnId}}</h4>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">

                <!-- dropdown for subject -->
                <select class="form-control" id="subject">
                  {{#each availableSubject}}
                    {{#if currSubject}}
                    <option selected="selected">
                      {{name}}
                    </option>
                    {{else}}
                    <option>
                      {{name}}
                    </option>
                    {{/if}}
                  {{/each}}
                </select>
              </div>
              <div class="col-md-6">

                <!-- dropdown for topic -->
                <select class="form-control" id="topic">
                  {{#each topicOfSubject}}
                    {{#if currTopic}}
                    <option selected="selected">
                      {{name}}
                    </option>
                    {{else}}
                    <option>
                      {{name}}
                    </option>
                    {{/if}}
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                Question Text:
                <textarea id="ques" placeholder="Question" value="{{questionText}}" cols="50" rows="5"></textarea>
              </div>
              <div class="col-md-6">
                Solution Text:
                <textarea id="sol" placeholder="Solution" value="{{solutionText}}" cols="50" rows="5"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                Qn Image:
                <input type="text" id="quesImage" placeholder="QnImg" value="{{questionImg}}"/>
              </div>
              <div class="col-md-4">
                Sol Image:
                <input type="text" id="solImage" placeholder="SolImg" value="{{solutionImg}}" />
              </div>
              <div class="col-md-4">
                Correct Answer:
                <textarea id="corrAns" placeholder="Correct Answer" value="{{corrAns}}" cols="40" rows="2"></textarea>
              </div>
            </div>
            Other Answers:
            <div class="row">
              {{#each getAnswers}}
                <div class="col-md-3">
                  <textarea id="ans{{@index}}" placeholder="ans" value="{{text}}" cols="30" rows="2"></textarea>
                </div>
              {{/each}}
            </div>
            <div class="row">
              <div class="col-md-8">
                Meta Data:
                <textarea id="metaData" placeholder="Meta Data" value="{{metaData}}" cols="50" rows="4"></textarea>
              </div>
              <div class="col-md-4">
                <button class="btn btn-lg btn-primary" type="submit" id="submitQn">Submit</button>
              </div>
            </div>
          </form>
          {{/with}}
    </div>
        {{#if loading}}
            <div>
                Loading...
            </div>
        {{else}}
            {{#with currQuestion}}
                <div class="well">
                  <div class="row">
                    <div class="col-md-6">
                      <h4>{{subject}} - {{topic}}</h4>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <b>Revision Data</b>
                      </div>
                      <div class="row">
                        {{metaData}}
                      </div>
                    </div>
                  </div>
                    <div class="row">
                        <h3>Rendered Question</h3>
                    </div>
                    <div class="row">
                        {{> question}}
                    </div>
                    <div class="row">
                        <h3>Rendered Solution</h3>
                    </div>
                    <div class="row">
                        {{> solution}}
                    </div>
                </div>

            {{/with}}
        {{/if}}
  {{else}}
  <div class="row">
    <h3>Password</h3>
  </div>
  <div class="row">
    <input id="accessKey" type="password" name="accessKey" value="">
    <button id="accessButton" type="button" class="btn btn-primary">Go</button>
  </div>
  {{/if}}

</template>

<template name="answers">
    <div class="row">
        <div class="col-md-12">
            {{text}}
        </div>
    </div>
</template>
