<template name="question">

      <div class="col-md-8 col-sm-6 col-xs-12">
          <div class="outlined-content">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="soln-text">
                      {{{parseQuestionText}}}
                    </h4>
                </div>
              </div>
              <br />
              <div class="row image-row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  {{{renderImage}}}
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="outlined-content">
              <form id="options">
                  {{#each getAnswers}}
                      <div class="ans-div" id="div-{{@index}}">
                          <h4><label>
                              <input type="radio" name="optradio" value="{{text}}" id="{{@index}}">  {{{text}}}
                          </label></h4>
                      </div>
                  {{/each}}
              </form>
          </div>
      </div>

</template>
