<template name="quiz">
    {{#if loading}}
        <h3>Loading...</h3>
    {{else}}
        {{#with currQuestion}}
        <!-- Modal HTML -->
        <div id="ans-result" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->

                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        <div class="modal-body">
                          <div class="row">
                              <button type="button" class="btn btn-primary" data-dismiss="modal" id="next_ques">Next Question</button>
                          </div>
                            <!-- Feedback section -->
                            <div class="row">
                                <h1 class="site-text">Feedback</h1>
                            </div>
                            <div class="row">
                                <h4>How did you find this question?</h4>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <button type="button" class="btn-warning feedback_btn" id="too_easy">Too Easy</button>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <button type="button" class="btn-success feedback_btn" id="just_right">Just Right</button>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <button type="button" class="btn-danger feedback_btn" id="too_hard">Too Hard</button>
                                </div>
                            </div>
                            <div class="row">
                                <h4>Anything else you'd like to let us know about?</h4>
                                <!-- Text field for feedback. Will probably restrict character length -->
                                <textarea type="text" maxlength="300" id="other_comments" rows="3" cols="40"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <h1 class="site-text">Solution</h1>
                        </div>
                        <hr style="width:100%; color:black; height:2px" /> {{> solution}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="next_ques">Next Question</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal HTML -->

        <div class="row">
            <div class="well">
            {{> question}}
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <p>Topic: {{topic}}</p>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <button class="btn btn-block btn-primary" id="submit_ans">
                        <h3>Submit</h3></button>
                    <button class="btn btn-block btn-default" id="skip_ques">
                        Skip This Question</button>
                </div>
            </div>
        </div>
        </div>
        {{/with}}
    {{/if}}
</template>
