<template name="solution">
    <div class="row">
        <!-- <div class="col-md-4">
                    <!- Chart to come ->
                    Will then need to change the size of one below
                </div> -->
        <div class="col-md-12">
            <div class="row">
                <h4 class="soln-text">{{{parseSolutionText}}}</h4>
            </div>
            <br />
            <div class="row">
                {{{renderSolImage}}}
            </div>
        </div>
    </div>
</template>
