<template name="subject_well">
  <h2 class="site-text">Subjects</h2>
  <h4 class="site-text">
    Please choose the subject you want to practice...
  </h4>
  <div class="well cat-well">
    {{>subjects}}
  </div>
</template>


<template name="subjects">
  <div class="row btn-group cat-group">
    {{#each subjectList}}
      <div class="col-md-4 col-sm-12 col-xs-12">
        {{#if available}}
        <a href={{pathForSubject}}>
        <button class="btn btn-primary btn-block js-btn" id="btn{{@index}}"><h4>{{name}}</h4></button>
        </a>
        {{else}}
        <button class="btn btn-primary btn-block js-btn disabled"><h4>{{name}}</h4></button>
        {{/if}}
      </div>
    {{/each}}
  </div>
</template>
