<template name="topic_well">
  <h2 id="topic_heading" class="site-text">{{subject}} Topics</h2>
  <h4 class="site-text">
    Please choose one or more topics you wish to practice...
  </h4>
  <div class="well cat-well">
    {{>topics}}
  </div>
</template>

<template name="topics">
  <div class="row button-row">
    <div class="col-md-12">
      <button class="btn btn-block submit-btn" id="select_all"><h4>Select All</h4></button>
    </div>
  </div>
  <div class="wrapper text-center">
    <div class="btn-group" data-toggle="buttons">
        {{#each topicList}}
            <label class="btn btn-primary js-btn">
              <input class="topic-btn" type="checkbox" id="{{@index}}"/><h4>{{name}}</h4>
            </label>
        {{/each}}
    </div>
  </div>
  <div class="row button-row">
    <div class="col-md-12">
      <button class="btn btn-block submit-btn" id="start-quiz"><h4>Start Quiz</h4></button>
    </div>
  </div>
</template>
